.section-title {
  justify-content: space-evenly;
  height: 80vh;
}

.section-how-to {
  max-height: unset;
}

@media only screen and (orientation: landscape) and (min-width: 768px) {
  .section-title {
    justify-content: center;
    height: unset;
  }

  .content-block-right {
    padding-right: var(--padding-100-x);
  }

  .perex {
    max-width: 66%;
  }
}
