.section-title {
  justify-content: space-evenly;
}

.section-other-title {
  margin: var(--padding-70-y) 0;
}

@media only screen and (orientation: landscape) and (min-width: 768px) {
  .section-title {
    justify-content: center;
  }

  .section-other-title {
    margin: calc(2 * var(--padding-70-y)) 0;
  }
}
