.section-title {
  justify-content: space-around;
}

.section-boxes .box--1 {
  background-color: #e5b972;
}

.section-boxes .box--2 {
  background-color: #ff862f;
}

.section-boxes .box--3 {
  background-color: #6a4b38;
}

.section-boxes .box--4 {
  background-color: #1f9064;
}

.section-boxes .box--5 {
  background-color: #ffd800;
}

.section-boxes .box .box-text {
  justify-content: center;
}

.section-boxes .box .box-text .box-contact {
  padding: 0;
}

.box .box-text .box-contact .perex-small {
  width: 100%;
}

.section-vandalism {
  max-height: unset;
}

.image-container {
  position: relative;
}

.image-note {
  color: white;
  position: absolute;
  width: calc(0.6 * 100vw);
  bottom: calc(var(--padding-70-y) * 0.4);
  left: var(--padding-70-x);
}

.section-contact {
  margin-top: var(--padding-100-y);
}

@media only screen and (orientation: landscape) and (min-width: 768px) {
  .section-title {
    justify-content: center;
  }

  .section-boxes .box .box-text .box-title {
    padding-bottom: var(--padding-70-y);
  }

  .section-boxes .box:nth-of-type(odd) {
    flex-direction: row;
  }

  .section-boxes .box:nth-of-type(even) {
    flex-direction: row-reverse;
  }

  .section-boxes .box:nth-of-type(odd) .box-text {
    align-items: start;
    text-align: left;
  }

  .section-boxes .box:nth-of-type(even) .box-text {
    align-items: end;
    text-align: right;
  }

  .section-boxes .box:nth-of-type(odd) .box-text .box-features {
    justify-content: start;
  }

  .section-boxes .box:nth-of-type(even) .box-text .box-features {
    justify-content: end;
  }

  .section-boxes .box:nth-of-type(odd) .box-text .box-contact .perex-small {
    margin-left: 0;
  }

  .section-boxes .box:nth-of-type(even) .box-text .box-contact .perex-small {
    margin-left: auto;
  }

  .section-boxes .box:nth-of-type(odd) .box-image {
    justify-content: end;
  }

  .section-boxes .box:nth-of-type(even) .box-image {
    justify-content: start;
  }

  .perex-small {
    max-width: 75%;
  }

  .image-note {
    width: calc(0.3 * 100vw);
    bottom: calc(var(--padding-70-y) * 0.85);
  }
}
