.section-title {
  justify-content: space-evenly;
}

.section-how-it-works,
.section-box-content,
.section-box-prices {
  max-height: unset;
}

.content-block-title {
  margin-bottom: calc(var(--padding-70-y) / 2);
}

.content-block-left ul {
  padding-inline-start: 1em;
  padding-bottom: calc(var(--padding-70-y) / 3);
  text-align: left;
}

.content-block-left h3 {
  margin-bottom: calc(var(--padding-70-y) / 3);
  font-size: var(--font-size-38);
  line-height: var(--line-spacing-45);
}

.content-block-left li {
  font-weight: 600;
  list-style-type: disc;
  padding-bottom: calc(var(--padding-70-y) / 4);
}

.section-box-content h2,
.section-box-prices h2 {
  margin-bottom: calc(var(--padding-100-y) / 4);
}

.box-feature {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-bottom: calc(var(--padding-70-y) / 2);
}

.box-feature-image {
  padding-bottom: calc(var(--padding-70-y) / 4);
}

.box-feature-image img {
  border-radius: 999px;
  width: 20vw;
  height: 20vw;
  max-width: unset;
  max-height: unset;
  object-fit: none;
}

.box-feature-label {
  width: 90%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-weight: 600;
}

.box-feature-text {
  margin-top: calc(var(--padding-70-y) / 2);
  text-align: center;
}

.col-3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: calc(var(--padding-100-y) / 2);
}

.col-3:last-of-type {
  margin-bottom: 0;
}

.col-3-image img {
  width: 33.33vw;
  height: 33.33vw;
  max-width: unset;
  max-height: unset;
  border-radius: 999px;
  object-fit: cover;
}

.col-3-image {
  padding-bottom: calc(var(--padding-70-y) / 2);
}

.col-3-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-bottom: var(--padding-70-y); */
}

.col-3-label h3 {
  width: 50vw;
  padding-bottom: calc(var(--padding-70-y) / 2);
}

.col-3-label .col-3-text {
  height: unset;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-bottom: calc(var(--padding-70-y) / 2);
}

.col-3-price {
  padding-bottom: calc(var(--padding-70-y) / 2);
}

.cta {
  margin: auto;
  margin-bottom: calc(var(--padding-70-y) / 2);
}

.cta + .perex {
  margin: auto;
}

@media only screen and (orientation: landscape) and (min-width: 768px) {
  .section-title {
    justify-content: center;
  }

  .content-block-title {
    margin-bottom: var(--padding-70-y);
  }

  .content-block-left ul {
    padding-inline-start: 1em;
    padding-bottom: var(--padding-100-y);
  }

  .content-block-left li {
    font-weight: 600;
    list-style-type: disc;
    padding-bottom: calc(var(--padding-100-y) / 2);
  }

  .section-box-content h2,
  .section-box-prices h2 {
    margin-bottom: var(--padding-100-y);
  }

  .box-feature {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-bottom: var(--padding-70-y);
  }

  .box-feature-image {
    padding-right: var(--padding-60-x);
  }

  .box-feature-image img {
    border-radius: 999px;
    width: 9.8vw;
    height: 9.8vw;
    max-width: unset;
    max-height: unset;
    object-fit: none;
  }

  .box-feature-label {
    width: 30vw;
    height: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-weight: 600;
  }

  .box-feature-text {
    margin-top: calc(var(--padding-70-y) / 2);
    text-align: left;
  }

  .col-3 {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }

  .col-3-image img {
    width: 16.6667vw;
    height: 16.6667vw;
    max-width: unset;
    max-height: unset;
    border-radius: 999px;
    object-fit: cover;
  }

  .col-3-image {
    padding-bottom: var(--padding-70-y);
  }

  .col-3-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-bottom: var(--padding-70-y); */
  }

  .col-3-label h3 {
    width: 20vw;
    padding-bottom: var(--padding-70-y);
  }

  .col-3-label .col-3-text {
    height: 25vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-bottom: 0;
  }

  .col-3-price {
    padding-bottom: calc(var(--padding-70-y) / 2);
  }

  .cta {
    margin: 0;
    margin-bottom: calc(var(--padding-70-y) / 2);
  }

  .col-3 .cta {
    width: 90%;
    display: flex;
    justify-content: center;
  }

  .cta + .perex {
    margin: 0;
  }
}
