:root {
  /* Colors: */
  --color-000000: #000000;
  --color-ff0202: #ff0202;

  /* Font/text values */
  --font-family-helvetica-neue: "Helvetica";
  --font-style-normal: normal;
  --font-weight-medium: 600;
  --font-weight-bold: bold;
  --font-size-20: 1, 04167rem;
  --font-size-25: 1, 30201rem;
  --font-size-28: 1.4583rem;
  --font-size-38: 1.979rem;
  --font-size-40: 2.0833rem;
  --font-size-45: 2.344rem;
  --font-size-55: 2.8646rem;
  --font-size-65: 3.385rem;
  --font-size-75: 3.906rem;
  --character-spacing-0: 0px;
  --line-spacing-27: 1, 406rem;
  --line-spacing-30: 1.5625rem;
  --line-spacing-35: 1.823rem;
  --line-spacing-43: 2.2396rem;
  --line-spacing-45: 2.344rem;
  --line-spacing-50: 2.604rem;
  --line-spacing-60: 3.125rem;
  --line-spacing-70: 3.646rem;
  --line-spacing-80: 4.1667rem;
  --decoration-underline: underline;
}

/* Character Styles */
.link-secondary {
  font-family: var(--font-family-helvetica-neue);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-40);
  line-height: var(--line-spacing-50);
  letter-spacing: var(--character-spacing-0);
  color: var(--color-000000);
  text-decoration: var(--decoration-underline);
}
.link {
  font-family: var(--font-family-helvetica-neue);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-25);
  line-height: var(--line-spacing-30);
  letter-spacing: var(--character-spacing-0);
  color: var(--color-ff0202);
}
.mikro {
  font-family: var(--font-family-helvetica-neue);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-20);
  line-height: var(--line-spacing-27);
  letter-spacing: var(--character-spacing-0);
  color: var(--color-000000);
}
.text {
  font-family: var(--font-family-helvetica-neue);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-28);
  line-height: var(--line-spacing-35);
  letter-spacing: var(--character-spacing-0);
  color: var(--color-000000);
}
.bullets {
  font-family: var(--font-family-helvetica-neue);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-28);
  line-height: var(--line-spacing-45);
  letter-spacing: var(--character-spacing-0);
  color: var(--color-000000);
}
.character-style-1 {
  font-family: var(--font-family-helvetica-neue);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-55);
  line-height: var(--line-spacing-60);
  letter-spacing: var(--character-spacing-0);
  color: var(--color-000000);
}
h2 {
  font-family: var(--font-family-helvetica-neue);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-65);
  line-height: var(--line-spacing-70);
  letter-spacing: var(--character-spacing-0);
  color: var(--color-000000);
}
h1 {
  font-family: var(--font-family-helvetica-neue);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-75);
  line-height: var(--line-spacing-80);
  letter-spacing: var(--character-spacing-0);
  color: var(--color-000000);
}
h3 {
  font-family: var(--font-family-helvetica-neue);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-45);
  line-height: var(--line-spacing-50);
  letter-spacing: var(--character-spacing-0);
  color: var(--color-000000);
}
h4 {
  font-family: var(--font-family-helvetica-neue);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-38);
  line-height: var(--line-spacing-43);
  letter-spacing: var(--character-spacing-0);
  color: var(--color-000000);
}
.perex {
  font-family: var(--font-family-helvetica-neue);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-40);
  line-height: var(--line-spacing-50);
  letter-spacing: var(--character-spacing-0);
  color: var(--color-000000);
}

.perex-small {
  font-family: var(--font-family-helvetica-neue);
  font-style: var(--font-style-normal);
  font-size: var(--font-size-28);
  line-height: var(--line-spacing-35);
  letter-spacing: var(--character-spacing-0);
  color: var(--color-000000);
}

a {
  color: black;
}
