.sticky {
  position: fixed;
  width: 100%;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: calc(var(--padding-70-y) / 4) 5%;
}

.logo-container {
  width: calc(0.175 * 100vw);
  cursor: pointer;
}

.menu-toggle {
  text-transform: uppercase;
  font-size: var(--font-size-30);
  line-height: var(--line-spacing-50);
  font-weight: 600;
  cursor: pointer;
}

nav {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #e5b972;
  z-index: 10;
  overflow: hidden;
}

.main-menu {
  width: 100%;
  padding: calc(1 / 6 * 100vh) var(--padding-100-x);
  display: flex;
  flex-direction: column;
}

.main-menu li {
  font-size: var(--font-size-55);
  line-height: var(--line-spacing-70);
  font-weight: 600;
  cursor: pointer;
}

.main-menu li:not(:last-of-type) {
  padding-bottom: calc(0.7 * var(--padding-70-y));
}

.sub-menu {
  margin-left: calc(var(--padding-70-x) / 2);
}
.sub-menu li {
  list-style-type: "- ";
  cursor: pointer;
}

.sub-menu li:not(:last-of-type) {
  padding-bottom: calc(var(--padding-70-y) / 5);
}

.menu-close {
  position: absolute;
  top: var(--padding-70-y);
  right: calc(1.2 * var(--padding-100-x));
  width: 26.25px;
  height: 26.25px;
  cursor: pointer;
}

@media only screen and (orientation: landscape) and (min-width: 768px) {
  .menu-container {
    padding: calc(var(--padding-70-y) / 2) var(--padding-70-x);
  }

  .logo-container {
    width: calc(0.0865 * 100vw);
  }

  .main-menu {
    width: 50%;
    margin-left: auto;
    padding: calc(1 / 6 * 100vh) 0;
  }
}
