@font-face {
  font-family: "Helvetica";
  src: url("./assets/fonts/HelveticaNeueCE-Roman.woff2") format("woff2"),
    url("./assets/fonts/HelveticaNeueCE-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --rem-vertical: calc(0.01778 * 100vh);
  --padding-60-x: calc(0.03125 * 100vw);
  --padding-70-x: calc(0.03698 * 100vw);
  --padding-main-y: calc(0.025 * 100vh);
  --padding-200-y: calc(0.1852 * 100vh);
  --padding-150-y: calc(0.1389 * 100vh);
  --padding-100-x: calc(0.0521 * 100vw);
  --padding-100-y: calc(0.0926 * 100vh);
  --padding-70-y: calc(0.0648 * 100vh);
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 2vw;
}

@media only screen and (orientation: landscape) and (min-width: 768px) {
  html {
    font-size: 1vw;
  }
}

body {
  font-family: "Helvetica";
  font-size: 100%;
}

main {
  width: 100%;
}

/* SECTION TITLE */

.section-title {
  width: 100%;
  height: unset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: calc(2 * var(--padding-70-y)) 0 var(--padding-70-y) 0;
  min-height: 100vh;
}

.section-other-title {
  width: 100%;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-title > .title,
.section-other-title > .title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-title > .title > h1,
.section-other-title > .title > h2 {
  text-align: center;
  width: calc(0.9 * 100vw);
}

.section-title .title-image,
.section-other-title .title-image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: calc(2 * var(--padding-main-y)) 0;
}

.section-title .title-image img,
.section-other-title .title-image img {
  width: calc(0.9 * 100vw);
}

.section-title .subtitle,
.section-other-title .subtitle {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-title .subtitle p,
.section-other-title .subtitle p {
  width: calc(0.9 * 100vw);
  text-align: center;
}

@media only screen and (orientation: landscape) and (min-width: 768px) {
  .section-title {
    height: unset;
    min-height: unset;
    margin-bottom: var(--padding-200-y);
  }

  .section-title > .title,
  .section-other-title > .title {
    display: block;
    margin: auto;
    margin-top: var(--padding-200-y);
    margin-bottom: var(--padding-200-y);
  }

  .section-title > .title > h1,
  .section-other-title > .title > h2 {
    width: calc(0.6125 * 100vw);
  }

  .section-title .title-image,
  .section-other-title .title-image {
    margin-top: var(--padding-main-y);
    margin-bottom: var(--padding-main-y);
  }

  .section-title .title-image img,
  .section-other-title .title-image img {
    width: calc(0.8 * 100vw);
  }

  .section-title .subtitle p,
  .section-other-title .subtitle p {
    width: calc(0.7677 * 100vw);
  }
}

/* SECTION BOXES */

.section-boxes {
  width: 100%;
  margin-bottom: var(--padding-100-y);
}

.section-boxes .title {
  margin: var(--padding-100-y) 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-boxes .title h1 {
  text-align: center;
  width: calc(0.6125 * 100vw);
}

.section-boxes .box {
  width: 100%;
  display: flex;
}

.section-boxes .box .box-text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--padding-70-y) var(--padding-70-x);
}

.section-boxes .box .box-text .box-title {
  padding-bottom: calc(2 * var(--rem-vertical));
  margin: auto;
  text-align: center;
}

.section-boxes .box .box-text .box-contact {
  padding-bottom: calc(4 * var(--rem-vertical));
  margin: auto;
  text-align: center;
}

.section-boxes .box .box-text .box-features {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: calc(4 * var(--rem-vertical));
}

.section-boxes .box .box-text .box-features .feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(var(--padding-70-y) / 3) 0;
  width: 25%;
}

.section-boxes .box .box-text .box-features .feature:last-of-type {
  padding-right: 0;
}

.section-boxes .box .box-text .box-features .feature .feature-label {
  padding-top: calc(0.74 * var(--rem-vertical));
  font-size: 0.9375rem;
  font-weight: 600;
}

.section-boxes .box .box-text .box-features .feature .feature-icon {
  height: calc(0.10092 * 100vh);
}

.section-boxes .box .box-image {
  display: none;
}

.box-cta {
  position: relative;
  margin: auto;
}

.section-boxes .box--1 {
  background-color: #ffd800;
}

.section-boxes .box--2 {
  background-color: #6a4b38;
}

.section-boxes .box--3 {
  background-color: #1f9064;
}

.section-boxes .box--4 {
  background-color: #e5b972;
}

.white-box .box-text .box-contact .perex-small,
.white-box .box-text .box-contact .perex,
.white-box .box-text,
.white-box .box-text .box-title h2,
.white-box .box-text .box-title h3 {
  color: white;
}

@media only screen and (orientation: landscape) and (min-width: 768px) {
  .section-boxes {
    margin-bottom: var(--padding-150-y);
  }

  .section-boxes .title {
    margin-bottom: var(--padding-200-y);
  }

  .section-boxes .title h1 {
    width: calc(0.6125 * 100vw);
  }

  .section-boxes .box {
    height: 100%;
    /* height: calc(0.759 * 100vh); */
  }

  .section-boxes .box:nth-of-type(odd) {
    flex-direction: row-reverse;
  }

  .section-boxes .box .box-text {
    width: calc(0.651 * 100vw);
  }

  .section-boxes .box:nth-of-type(odd) .box-text {
    align-items: end;
    text-align: right;
  }

  .section-boxes .box .box-text .box-title {
    padding-bottom: calc(5 * var(--rem-vertical));
    margin: 0;
    text-align: left;
  }

  .section-boxes .box:nth-of-type(odd) .box-text .box-title {
    padding-bottom: calc(5 * var(--rem-vertical));
    margin: 0;
    text-align: right;
  }

  .section-boxes .box .box-text .box-contact {
    padding-bottom: calc(7 * var(--rem-vertical));
    margin: 0;
    text-align: left;
  }

  .section-boxes .box:nth-of-type(odd) .box-text .box-contact {
    padding-bottom: calc(7 * var(--rem-vertical));
    margin: 0;
    text-align: right;
  }

  .section-boxes .box .box-text .box-features {
    flex-wrap: nowrap;
    justify-content: start;
    padding-bottom: calc(6.5 * var(--rem-vertical));
  }

  .section-boxes .box:nth-of-type(odd) .box-text .box-features {
    justify-content: end;
  }

  .section-boxes .box .box-text .box-features .feature {
    width: unset;
    padding: 0;
    padding-right: 2.083rem;
  }

  .section-boxes .box .box-text .box-features .feature:last-of-type {
    padding-right: 0;
  }

  .section-boxes .box .box-image {
    width: calc(0.349 * 100vw);
    display: flex;
    justify-content: end;
  }

  .section-boxes .box:nth-of-type(odd) .box-image {
    justify-content: start;
  }

  .section-boxes .box .box-image img {
    object-fit: cover;
    max-width: 100%;
  }

  .box-cta {
    margin: 0;
    position: relative;
    bottom: calc(1.5 * var(--rem-vertical));
    /* top: -1.5rem; */
  }
}

/* SECTION-CONTACT */

.section-contact {
  margin-bottom: var(--padding-100-y);
}

.section-contact .section-contact-title {
  margin-bottom: var(--padding-70-y);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contact-content {
  width: 100%;
  padding: 0 5% var(--padding-70-y);
}

.contact-content-item {
  width: 100%;
  padding-bottom: calc(var(--padding-70-y) / 2);
  text-align: center;
}

.contact-content-item:last-of-type {
  padding-top: calc(var(--padding-70-y) / 4);
}

.contact-content-label {
  max-width: 66vw;
  padding-bottom: calc(var(--padding-100-y) / 4);
  margin: auto;
}

.contact-content-item p {
  font-size: var(--font-size-28);
  display: flex;
  flex-direction: column;
}

.contact-content-logos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: calc(var(--padding-70-y) / 3);
}

.contact-content-logo {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 var(--padding-60-x);
  padding-bottom: calc(var(--padding-70-y) / 2);
}

.contact-map {
  width: 100%;
}

.map-container {
  width: 100%;
  height: 66vh;
  max-height: 90vh;
}

.map-container iframe {
  width: 100%;
  height: 100%;
}

@media only screen and (orientation: landscape) and (min-width: 768px) {
  .section-contact {
    margin-bottom: var(--padding-200-y);
  }

  .section-contact .section-contact-title {
    margin-bottom: var(--padding-150-y);
  }

  .contact-container {
    flex-direction: row;
    padding: 0 var(--padding-70-x) var(--padding-70-y);
  }

  .contact-content {
    padding: 0;
    width: 50%;
  }

  .contact-content-item {
    width: 90%;
    padding-bottom: calc(1.2 * var(--padding-100-y));
    text-align: left;
  }

  .contact-content-item:last-of-type {
    padding-top: 0;
  }

  .contact-content-label {
    max-width: 30vw;
    padding-bottom: calc(var(--padding-100-y) / 2);
    margin: 0;
  }

  .contact-content-logos {
    justify-content: space-between;
    padding-top: 0;
  }

  .contact-content-logo {
    width: 27%;
    padding: 0;
    padding-bottom: var(--padding-70-y);
  }

  .contact-content-logo:nth-of-type(1),
  .contact-content-logo:nth-of-type(5) {
    width: 19%;
    justify-content: start;
  }

  .contact-map {
    width: 50%;
  }

  .map-container {
    height: 100%;
  }

  .map-container iframe {
    width: 100%;
    height: 100%;
  }
}

.section-hero {
  width: 100%;
  height: auto;
}

.section-hero img,
.section-hero iframe {
  width: 100%;
  height: unset;
  object-fit: cover;
}

@media only screen and (orientation: landscape) and (min-width: 768px) {
  .section-hero {
    width: 100%;
    height: 87vh;
  }

  .section-hero img,
  .section-hero iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* CONTENT-BLOCK */

.content-block {
  width: 100%;
  /* max-height: 87vh; */
  padding: var(--padding-70-y) var(--padding-70-x);
  margin-bottom: var(--padding-100-y);
}

.content-block--beige {
  background-color: #e5b972;
}

.content-block--green {
  background-color: #1f9064;
}

.content-block--grey {
  background-color: #e2e2e2;
}

.content-block--yellow {
  background-color: #ffd800;
}

.content-block--brown {
  background-color: #6a4b38;
}

.content-block--orange {
  background-color: #fc873d;
}

.white-content-block,
.white-content-block h2,
.white-content-block h3,
.white-content-block ul,
.white-content-block a {
  color: white;
}

.content-block-title {
  display: flex;
  justify-content: center;
  margin-bottom: var(--padding-70-y);
  text-align: center;
}

.content-block-container {
  width: 100%;
  display: flex;
}

.content-block-left {
  width: 100%;
}

.content-block-main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
}

.content-block-main p {
  font-size: var(--font-size-28);
  line-height: var(--line-spacing-35);
}

.content-block-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

.content-block-left p {
  font-size: var(--font-size-28);
  line-height: var(--line-spacing-35);
}

.content-block-left h3 {
  margin: auto;
  margin-bottom: calc(var(--padding-70-y) / 2);
}

.content-block-right {
  display: none;
}

.content-block-right img {
  max-width: 30vw;
}

.content-block-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media only screen and (orientation: landscape) and (min-width: 768px) {
  .content-block {
    width: 100%;
    /* max-height: 87vh; */
    padding: calc(2 * var(--padding-70-y)) var(--padding-70-x);
    margin-bottom: var(--padding-200-y);
  }

  .content-block-title {
    display: flex;
    justify-content: center;
    margin-bottom: var(--padding-70-y);
    text-align: left;
  }

  .content-block-container {
    width: 100%;
    display: flex;
  }

  .content-block-left,
  .content-block-right {
    width: 50%;
  }

  .content-block-main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
  }

  .content-block-main p {
    font-size: var(--font-size-28);
    line-height: var(--line-spacing-35);
  }

  .content-block-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
  }

  .content-block-left p {
    font-size: var(--font-size-28);
    line-height: var(--line-spacing-35);
  }

  .content-block-left h3 {
    margin: 0;
    margin-bottom: var(--padding-70-y);
  }

  .content-block-right {
    display: flex;
    justify-content: end;
  }

  .content-block-right img {
    max-width: 30vw;
  }

  .content-block-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.no-margin {
  margin: 0;
}

.perex-small:not(:first-of-type) {
  padding-top: calc(var(--padding-70-y) / 2);
}

.perex:not(:first-of-type) {
  padding-top: calc(var(--padding-70-y) / 4);
}

@media only screen and (orientation: landscape) and (min-width: 768px) {
  .perex-small:not(:first-of-type) {
    padding-top: var(--padding-70-y);
  }

  .perex:not(:first-of-type) {
    padding-top: var(--padding-70-y);
  }
}

.padding-y-150 {
  padding: var(--padding-70-y) var(--padding-70-x);
}

.mb-150 {
  margin-bottom: 0;
}

@media only screen and (orientation: landscape) and (min-width: 768px) {
  .padding-y-150 {
    padding: var(--padding-150-y) 0;
  }
  .mb-150 {
    margin-bottom: var(--padding-150-y);
  }
}

.mb-70 {
  margin-bottom: var(--padding-70-y);
}

.mb-35 {
  margin-bottom: calc(var(--padding-70-y) / 2);
}

.link-underlined {
  font-size: var(--font-size-28);
  text-decoration: underline;
  line-height: var(--line-spacing-35);
}

.perex .link-underlined {
  font-size: var(--font-size-40);
  line-height: var(--line-spacing-50);
}

.btn {
  display: inline-block;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 43px;
  padding: calc(1.5 * var(--rem-vertical)) calc(9 * var(--rem-vertical));
  color: black !important;
  font-size: var(--font-size-28);
  font-weight: 600;
  line-height: var(--line-spacing-35);
}

.rotate-90 {
  transform: rotate(90deg);
}
